.content{
// margin-top: 15vh;
margin-top: 3rem;
padding: 0 25px 0 25px;
}

.diasfix{
padding: 20px 25px;
text-align: center;
}
.datе-picker-wrapper {
padding: 1rem;
max-width: 600px;
}
.containerBox{
width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}
.resultado2{
margin-left: auto;
margin-right: auto;
text-align: center;
}
.website{
font-size: 20px;
float: right;
}
.menudiv{
display: flow;
width: 104%;
}
.Lleft{
position: absolute;
width: 5rem;
float: left;
display: flex;
margin-top: 10px;
}
.Lright{
width: 5rem;
float: right;
display: flex;
margin-top: 10px;
}
.logo{
height: 80px;
margin-left: auto;
margin-right: auto;
display: flow;
}
.resultsform{
text-align: center;
font-size: 20px;
}
.formashow{
position: relative;
margin-left: auto;
margin-right: auto;
width: 25%;
padding: 10px;
}
.cal{
position: relative;
z-index: 10;
color: gray;
background: gainsboro;
top: -39px;
right: -21vw;
}
.send{
width: 100%;
padding: 0;
margin-top: 0rem;
background-color: #594363;
}
.send:hover {
// #5b356c
background-color: #6e01a0;
color: white;
}
.container .A {
// width: 60%;
text-align: center;
background: #fff;
margin-right: auto;
margin-left: auto;
margin-right: auto;
margin-top: 10vh;
}
.rside{
display:flex;
flex-direction: column;
width: 100%;
}
.rside div{
padding: 10px;
min-height: 50%;
border-left: 2px solid purple;
text-align: center;
}
.pinaa1{
border: solid 1px green;
background-image: url(/assets/img/year.png);
background-size: 440px 370px;
background-repeat: no-repeat;
height: 100%;
width: 100%;
background-position: 50px 0px;
}
.pinaa1 tr{
width: 100%;
}
.pinaa1 td{
border: solid 1px green;
width: 10%;
overflow: hidden;
display: inline-block;
white-space: nowrap;
/* border: solid 1px green; */
height: 100%;
}
.pinaa2{
border: solid 1px green;
background-image: url(/assets/img/year.png);
background-size: 440px 370px;
background-repeat: no-repeat;
height: 100%;
width: 100%;
background-position: 50px 0px;
}
.pinaa2 tr{
width: 100%;
}
.pinaa2 td{
border: solid 1px green;
width: 10%;
overflow: hidden;
display: inline-block;
white-space: nowrap;
/* border: solid 1px green; */
height: 100%;
}
.pina1{
border: solid 1px green;
background-image: url(/assets/img/pina1a.png);
background-size: 650px 830px;
background-repeat: no-repeat;
height: 100%;
width: 100%;
background-position: 90px -25px;
}
.pina1 tr{
width: 100%;
}
.pina1 td{
border: solid 1px green;
width: 10%;
overflow: hidden;
display: inline-block;
white-space: nowrap;
height: 100%;
}
.movil{
display: none;
}
.meses{
text-align: center;
zoom: 1.2;
border-top: 1px solid purple;
}
.Anual{
display:flow-root
}

:root {
--arrow-bg: rgba(255, 255, 255, 0.3);
--arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
--option-bg: rgb(100, 24, 207);
--select-bg: rgba(103, 14, 111, 0.875);
}

select {
/* Reset */
appearance: none;
border: 0;
outline: 0;
font: inherit;
/* Personalize */
width: 20rem;
padding: 1rem 4rem 1rem 1rem;
background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center / 1.4em, linear-gradient(to left, rgb(103 14 111 / 72%) 3em, rgba(103, 14, 111, 0.875) 3em);
color: white;
border-radius: 0.25em;
box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
cursor: pointer;
/* Remove IE arrow */
&::-ms-expand {
display: none;
}
/* Remove focus outline */
&:focus {
outline: none;
}
/* <option> colors */
option {
color: rgb(100, 24, 207);
background-color: #fff;
}
option:checked {
color: rgb(207, 201, 24);
background-color: #8d1414;
}
}
.mesesmovil{
display: none;
}
.textomv{
width: 300px;
text-align: center;
margin-left: auto;
margin-right: auto;
}

@media print {
  app-menu {
  visibility: hidden;
  }
  }
// and (-webkit-device-pixel-ratio: 2)
@media only screen
and (min-width: 355px)  and (max-width: 430px)
 {
      .A svg{
        zoom: .7;
        }
}
// and (-webkit-device-pixel-ratio: 3)
@media only screen
and (min-width: 399px) and (max-width: 440px)
 {
      .A svg{
        zoom: .8;
        }
}
@media only screen and (max-width: 412px) and (min-width: 398px) {
  .A svg{
    zoom: .8;
    }
}
// 964
@media only screen and (max-width: 964px) {
.textomv{
width: auto;
text-align: center;
}

.numerologia{
font-size: 1rem;
}
.logo{
margin-top: 1rem;
width: 100%;
}
.Anual{
display: none;
}
.rside{
display: none;
}
.mesesmovil{
display: flow-root;
text-align: center;
position: relative;
top: 22rem;
margin-left: auto;
margin-right: auto;
margin-bottom: 2rem;
}

.pina1 {
border: solid 1px green;
background-image: url(/assets/img/pina1a.png);
background-size: 250px 700px;
background-repeat: no-repeat;
height: 100%;
width: 100%;
background-position: -12px -16px;
}
.forma {
margin: 3%;
width: 90%;
}
.cal{
position: relative;
z-index: 10;
color: gray;
background: gainsboro;
top: -39px;
// right: -86vw;
right:-120vw;;
}
.pinaa1{
border: solid 1px green;
background-image: url(/assets/img/year.png);
background-size: 140px 250px;
background-repeat: no-repeat;
height: 100%;
width: 100%;
background-position: -3px 31px;
}
.container .A{
width: 100%;
background: #fff;
display: flex;
flex-direction: column;
margin-right: auto;
margin-left: -10%;
}
.movil{
position: absolute;
display: block;
margin-top: 1rem;
left: 0px;
text-align: center;
}
.ana{
position: absolute;
width: 19%;
// display: inline-flex;
}
.www{
position: relative;
left: 0rem;
}
.lds-ripple {
display: flex;
position: relative;
left: 29%;
}
}
// @media print {
// .containerBox {
// visibility: hidden;
// }
// }


// .container
